<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NewDictionaryWithDDBB"
        tools:targetApi="34">
        <activity
            android:name="weatherapp.ui.HomePage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="weatherapp.ui.TripPage"
            android:exported="false"
            android:label="Trip_Name" />
        <activity
            android:name="weatherapp.ui.NewDestination"
            android:exported="false"
            android:label="@string/new_destination_activity_name" />
        <activity
            android:name="weatherapp.ui.NewTrip"
            android:exported="false"
            android:label="@string/new_trip_activity_name" />
        <activity
            android:name=".AddContactActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>